numpy
torch
matplotlib
pandas
scipy
torchinfo
torchsummary
torchio
monai
segmentation-models-pytorch
hdf5storage
seaborn
ipywidgets
yacs
jinja2 >= 3.0
ipython
torchvision
sklearn
# git+https://github.com/zudi-lin/pytorch_connectomics.git
