git+https://github.com/zudi-lin/pytorch_connectomics.git
numpy
torch
matplotlib
pandas
scipy
pytorch
torchinfo
torchsummary
monai
segmentation-models-pytorch
hdf5storage
seaborn
ipywidgets
yacs
jinja2
ipython
torchvision
sklearn
